5hDIwJKuHVFcc8pg.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Отправка фото+текст в канал",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправка сообщений в телеграм",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка сообщений в телеграм": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Отправка фото+текст в канал": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-13T16:04:11.558Z",
  "id": "5hDIwJKuHVFcc8pg",
  "isArchived": false,
  "meta": null,
  "name": "//SENDING_Poker публикация",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1100,
        220
      ],
      "id": "f492a23f-cf6d-405c-8eba-c12850e3c2a1",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1diyihm8mnAh7hqk_Bdi3dHMkkcCfeW2JVPyWJ9I0Uis",
          "mode": "list",
          "cachedResultName": "Контент тестовый",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1diyihm8mnAh7hqk_Bdi3dHMkkcCfeW2JVPyWJ9I0Uis/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 531202730,
          "mode": "list",
          "cachedResultName": "Контент",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1diyihm8mnAh7hqk_Bdi3dHMkkcCfeW2JVPyWJ9I0Uis/edit#gid=531202730"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -880,
        220
      ],
      "id": "89fb198f-fb3d-45d6-906f-f9cffb848168",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -660,
        220
      ],
      "id": "dc75b873-5187-4544-9f4d-8ae3bb972273",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        660,
        220
      ],
      "id": "eefe6f78-4546-440f-98ff-b4a9453647ed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "db213c74-d213-4787-9050-7a3a4d58bd92",
              "leftValue": "={{ $json['photo_url'] }}",
              "rightValue": "is not empty",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -440,
        140
      ],
      "id": "ef7ecb2d-2bde-4cf1-b14a-0839a91d3b32",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot8043311483:AAEtbmGRUSDTUfjBhJm4Cf3vooDrmhnsfls/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "-1002487248673"
            },
            {
              "name": "text",
              "value": "={{ $json['Текст'] }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        240
      ],
      "id": "504738f8-51af-494c-9687-ff7ab1b03b3a",
      "name": "Отправка сообщений в телеграм"
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot8043311483:AAEtbmGRUSDTUfjBhJm4Cf3vooDrmhnsfls/sendPhoto",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "-1002487248673"
            },
            {
              "name": "photo",
              "value": "={{ $json['photo_url'] }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        40
      ],
      "id": "30e358d6-fea6-45cd-93f4-cd046925cdd7",
      "name": "Отправка фото+текст в канал"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        0,
        140
      ],
      "id": "e1067db9-507b-4b95-8f32-8ee8f5b2ee44",
      "name": "Merge"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        220,
        140
      ],
      "id": "cc9627ee-de14-412b-afd7-0fb87a042e16",
      "name": "Wait",
      "webhookId": "5b583c93-5092-4ad5-b238-125441c711c9"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1diyihm8mnAh7hqk_Bdi3dHMkkcCfeW2JVPyWJ9I0Uis",
          "mode": "list",
          "cachedResultName": "Контент тестовый",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1diyihm8mnAh7hqk_Bdi3dHMkkcCfeW2JVPyWJ9I0Uis/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 531202730,
          "mode": "list",
          "cachedResultName": "Контент",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1diyihm8mnAh7hqk_Bdi3dHMkkcCfeW2JVPyWJ9I0Uis/edit#gid=531202730"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Sent",
            "row_number": "={{ $('Google Sheets').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "photo_url",
              "displayName": "photo_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        140
      ],
      "id": "ea0a0dcb-8e7f-46aa-b614-8d9040ada15d",
      "name": "Google Sheets1",
      "disabled": true
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "fbkingowner",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-13T16:04:11.558Z",
  "versionId": "63d84afe-f9c9-4a54-b392-30e769a674c2"
}